.skill-body{
    /* background-image: linear-gradient(10deg,#078f07,rgba(157, 221, 74, 0.726)); */
    background-color: #747474;
}
.skill-logos:hover{
    transform: skew(-2deg);
}
.skill-logo:hover{
    transform: scale(2);
}
.my-progress-bar{
    background-color: #3DEAA4;
  }
.my-progress{
    height: 8px;
}
