.contact-input{
    border: none;
    border-bottom: 1px solid blanchedalmond;
    border-radius: 0;
    font-size: large;
    font-weight: 700;
}
.contact-info{
    border-right: 1px solid greenyellow ;
}
.my-bg{
    background-image: linear-gradient(-12deg,rgb(7, 143, 7),rgba(157, 221, 74, 0.726));
}
