.contact-input{
    border: none;
    border-bottom: 1px solid blanchedalmond;
    border-radius: 0;
    font-size: large;
    font-weight: 700;
    background-color: #111318;
    color: #3DEAA4;
}
.contact-info{
    border-right: 1px solid #3DEAA4 ;
}

.my-color{
    color: white;
}
.my-info{
    color: #3DEAA4;
}