.my-resume-btn {
    /* background-image: linear-gradient(45deg,#078f07,rgba(157, 221, 74, 0.726)); */
    /* background-image: linear-gradient(45deg,#14A76C,); */
    background-color: #3DEAA4;
    border-radius: 20px; 
    color: #111318;
}
.my-resume-btn:hover{
    background-color: black;
    color: white;
    transition: background-color 2s;
}
.my-navbar{
    /* background-image: linear-gradient(-45deg,#078f07,rgba(157, 221, 74, 0.726)); */
    /* background-image: linear-gradient(-45deg,#272727,#747474); */
    background-color: #000000;
}
.my-nav-link{
    color: #777777;
    text-decoration: none;
}
.my-nav-link:hover{
    color: #FFFFFF;
    transition: color 2s;
}