.projectDetails-bg{
    background-image: url('https://pa1.narvii.com/7407/3c1f595cd4dbc27edf08e74548d48158a747d205r1-444-480_hq.gif');
    background-repeat: repeat-y;
    background-position: right;
}